extends blocks/MainLayout.pug
block content
    .ComingContent__wrapper
        .ComingContent
            .ComingContent__content
                p Мы собрали в команду лучших из лучших, чтобы создавать
                    span.orange  креативные
                    |   сайты!
                p Наш сайт подвергся жестокой самокритике и был отправлен на переработку и уже почти
                    span.orange   готов к старту!



